In [180]:
import pandas as pd
import datetime as dt
import os
import glob

In [181]:
filepaths = 'Data/19_20/'
filepath = 'Data/19_20/citibike_tripdata_april20.csv'
bike_df = pd.read_csv(filepath)
bike_df.head()

,trip_duration,date,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender
0,1437,4/1/2020,12:06:21 AM,12:30:18 AM,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2
1,264,4/1/2020,12:02:42 AM,12:07:06 AM,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2
2,254,4/1/2020,12:20:28 AM,12:24:42 AM,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,1
3,429,4/1/2020,12:33:31 AM,12:40:40 AM,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,1
4,805,4/1/2020,12:38:33 AM,12:51:58 AM,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,1

In [10]:
bike_df[['started_at', 'starting_time']] = bike_df['started_at'].str.split(' ',expand=True)

In [12]:
bike_df[['ended_at', 'ending_time']] = bike_df['ended_at'].str.split(' ',expand=True)

In [52]:
#bike_df['starting_time'] = bike_df['starting_time'].astype(int)

In [42]:
bikes_dt_start = pd.to_datetime(bikes_df['started_at'])

In [41]:
bikes_dt_end = pd.to_datetime(bikes_df['ended_at'])

In [54]:
#bikes_dt_end

In [182]:
all_files = glob.glob(os.path.join(filepaths, '*.csv'))
li = []

In [183]:
for f in all_files:
    df = pd.read_csv(f, index_col=None, header=0)
    li.append(df)

In [184]:
april_20, aug_19, dec_19, feb_20, jan_20, jul_19, jun_19, mar_20, may_20, nov_19, oct_19, sept_19  = li[0], li[1], li[2], li[3], li[4], li[5], li[6], li[7], li[8], li[9], li[10], li[11]

In [185]:
jun_19

,trip_duration,date,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender
0,316,6/1/2019,12:05:56 AM,12:11:12 AM,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,6/1/2019,12:08:09 AM,12:12:50 AM,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,6/1/2019,12:13:12 AM,12:49:14 AM,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,6/1/2019,12:13:30 AM,12:49:54 AM,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,6/1/2019,12:13:32 AM,12:15:52 AM,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39425,639,6/30/2019,12:38:30 AM,12:49:09 AM,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,29197,Customer,1986,1
39426,643,6/30/2019,12:38:35 AM,12:49:18 AM,3677,Glenwood Ave,40.727551,-74.071061,3191,Union St,40.718211,-74.083639,26262,Customer,1990,2
39427,418,6/30/2019,12:42:31 AM,12:49:30 AM,3679,Bergen Ave,40.722104,-74.071455,3191,Union St,40.718211,-74.083639,29241,Subscriber,1979,1
39428,2529,6/30/2019,12:46:18 AM,12:28:27 AM,3185,City Hall,40.717732,-74.043845,3213,Van Vorst Park,40.718489,-74.047727,26254,Subscriber,1982,1
39429,831,6/30/2019,12:49:02 AM,12:02:53 AM,3210,Pershing Field,40.742677,-74.051789,3186,Grove St PATH,40.719586,-74.043117,29551,Subscriber,1988,1

In [131]:
jul_19

,trip_duration,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender
0,1793,00:36.6,30:30.6,3186,Grove St PATH,40.719586,-74.043117,3198,Heights Elevator,40.748716,-74.040443,29595,Subscriber,1978,1
1,434,02:54.6,10:09.0,3206,Hilltop,40.731169,-74.057574,3280,Astor Place,40.719282,-74.071262,29647,Subscriber,1988,1
2,251,03:27.6,07:38.6,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26271,Subscriber,1986,1
3,636,03:56.2,14:32.4,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,26225,Customer,1996,2
4,623,04:16.2,14:40.0,3206,Hilltop,40.731169,-74.057574,3281,Leonard Gordon Park,40.745910,-74.057271,29230,Customer,1989,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43741,673,39:13.2,50:26.7,3681,Grand St,40.715178,-74.037683,3277,Communipaw & Berry Lane,40.714358,-74.066611,26284,Subscriber,1987,1
43742,161,41:24.1,44:05.4,3211,Newark Ave,40.721525,-74.046305,3203,Hamilton Park,40.727596,-74.044247,29570,Subscriber,1998,1
43743,310,47:27.4,52:37.5,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26237,Subscriber,1977,1
43744,137,59:29.9,01:47.2,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,29121,Subscriber,1993,1
43745,463,59:54.9,07:38.0,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,29259,Subscriber,1988,1

In [160]:
print(" June 19: " + str(len(jun_19))  + "\n July 19: " + str(len(jul_19)) + "\n Aug 19: " + str(len(aug_19)) + "\n Sept 19: " + str(len(sept_19)) + "\n Oct 19: " + str(len(oct_19))  + "\n Nov 19: " + str(len(nov_19)) + "\n Dec 19: " + str(len(dec_19)) + "\n Jan 20: " + str(len(jan_20)) + "\n Feb 20: " + str(len(feb_20)) + "\n Mar 20: " + str(len(mar_20)) + "\n April 20: " + str(len(april_20)) + "\n May 20: " + str(len(may_20)))

 June 19: 39430
 July 19: 43746
 Aug 19: 48711
 Sept 19: 49244
 Oct 19: 42253
 Nov 19: 30797
 Dec 19: 19728
 Jan 20: 26020
 Feb 20: 22962
 Mar 20: 17719
 April 20: 9268
 May 20: 25077

In [186]:
jun19_may20_df = pd.concat([jun_19,jul_19,aug_19,sept_19,oct_19,nov_19,dec_19,jan_20,feb_20,mar_20,april_20,may_20], axis=0)

In [188]:
jun19_may20_df.reset_index()

,index,trip_duration,date,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender
0,0,316,6/1/2019,12:05:56 AM,12:11:12 AM,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,1,280,6/1/2019,12:08:09 AM,12:12:50 AM,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2,2162,6/1/2019,12:13:12 AM,12:49:14 AM,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,3,2184,6/1/2019,12:13:30 AM,12:49:54 AM,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,4,139,6/1/2019,12:13:32 AM,12:15:52 AM,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374950,25072,395,5/31/2020,12:35:51 AM,12:42:27 AM,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,1
374951,25073,1681,5/31/2020,12:38:31 AM,12:06:32 AM,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,1
374952,25074,1657,5/31/2020,12:39:07 AM,12:06:45 AM,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,1
374953,25075,420,5/31/2020,12:45:28 AM,12:52:28 AM,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,1
374954,25076,87,5/31/2020,12:50:56 AM,12:52:23 AM,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,1

In [198]:
jun19_may20_df['sto_time'] = jun19_may20_df['stop_time'].str.replace(' AM', '')

In [202]:
jun19_may20_df.rename(columns={'trip_duration':'trip_duration_seconds'}, inplace=True)
jun19_may20_df

,trip_duration_seconds,date,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender
0,316,6/1/2019,12:05:56,12:11:12,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,6/1/2019,12:08:09,12:12:50,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,6/1/2019,12:13:12,12:49:14,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,6/1/2019,12:13:30,12:49:54,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,6/1/2019,12:13:32,12:15:52,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,5/31/2020,12:35:51,12:42:27,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,1
25073,1681,5/31/2020,12:38:31,12:06:32,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,1
25074,1657,5/31/2020,12:39:07,12:06:45,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,1
25075,420,5/31/2020,12:45:28,12:52:28,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,1
25076,87,5/31/2020,12:50:56,12:52:23,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,1

In [208]:
trip_duration_minutes = [] 
for m in jun19_may20_df['trip_duration_seconds']:
    minutes = m / 60
    trip_duration_minutes.append(minutes)

In [211]:
jun19_may20_df['trip_duration_minutes'] = trip_duration_minutes

In [212]:
jun19_may20_df

,trip_duration_seconds,date,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,trip_duration_minutes
0,316,6/1/2019,12:05:56,12:11:12,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1,5.266667
1,280,6/1/2019,12:08:09,12:12:50,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1,4.666667
2,2162,6/1/2019,12:13:12,12:49:14,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0,36.033333
3,2184,6/1/2019,12:13:30,12:49:54,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0,36.400000
4,139,6/1/2019,12:13:32,12:15:52,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1,2.316667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,5/31/2020,12:35:51,12:42:27,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,1,6.583333
25073,1681,5/31/2020,12:38:31,12:06:32,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,1,28.016667
25074,1657,5/31/2020,12:39:07,12:06:45,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,1,27.616667
25075,420,5/31/2020,12:45:28,12:52:28,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,1,7.000000
25076,87,5/31/2020,12:50:56,12:52:23,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,1,1.450000

In [221]:
gender = []
for g in jun19_may20_df['gender']:
    if g == 0:
        gender.append('unknown')
    elif g == 1:
        gender.append('male')
    else:
        gender.append('female')

In [213]:
jun19_may20_df.to_csv('cleaned_citibike_data', index=False)

In [223]:
jun19_may20_df['sex'] = gender

In [225]:
jun19_may20_df.drop(jun19_may20_df['gender'])

,trip_duration_seconds,date,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,trip_duration_minutes,sex
3,2184,6/1/2019,12:13:30,12:49:54,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0,36.400000,unknown
4,139,6/1/2019,12:13:32,12:15:52,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1,2.316667,male
5,203,6/1/2019,12:15:43,12:19:07,3203,Hamilton Park,40.727596,-74.044247,3269,Brunswick & 6th,40.726012,-74.050389,26316,Subscriber,1978,1,3.383333,male
6,671,6/1/2019,12:19:42,12:30:53,3202,Newport PATH,40.727224,-74.033759,3278,Monmouth and 6th,40.725685,-74.048790,29488,Subscriber,1970,1,11.183333,male
7,271,6/1/2019,12:20:00,12:24:31,3270,Jersey & 6th St,40.725289,-74.045572,3186,Grove St PATH,40.719586,-74.043117,26312,Subscriber,1985,1,4.516667,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,5/31/2020,12:35:51,12:42:27,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,1,6.583333,male
25073,1681,5/31/2020,12:38:31,12:06:32,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,1,28.016667,male
25074,1657,5/31/2020,12:39:07,12:06:45,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,1,27.616667,male
25075,420,5/31/2020,12:45:28,12:52:28,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,1,7.000000,male
25076,87,5/31/2020,12:50:56,12:52:23,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,1,1.450000,male

In [226]:
jun19_may20_df

,trip_duration_seconds,date,start_time,stop_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,birth_year,gender,trip_duration_minutes,sex
0,316,6/1/2019,12:05:56,12:11:12,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1,5.266667,male
1,280,6/1/2019,12:08:09,12:12:50,3185,City Hall,40.717732,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1,4.666667,male
2,2162,6/1/2019,12:13:12,12:49:14,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0,36.033333,unknown
3,2184,6/1/2019,12:13:30,12:49:54,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0,36.400000,unknown
4,139,6/1/2019,12:13:32,12:15:52,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1,2.316667,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25072,395,5/31/2020,12:35:51,12:42:27,3202,Newport PATH,40.727224,-74.033759,3276,Marin Light Rail,40.714584,-74.042817,42250,Subscriber,1992,1,6.583333,male
25073,1681,5/31/2020,12:38:31,12:06:32,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42396,Customer,1997,1,28.016667,male
25074,1657,5/31/2020,12:39:07,12:06:45,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,42331,Customer,1987,1,27.616667,male
25075,420,5/31/2020,12:45:28,12:52:28,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,40517,Subscriber,1999,1,7.000000,male
25076,87,5/31/2020,12:50:56,12:52:23,3272,Jersey & 3rd,40.723332,-74.045953,3211,Newark Ave,40.721525,-74.046305,42314,Subscriber,1976,1,1.450000,male

In [227]:
jun19_may20_df.to_csv('cleaned_citibike_data', index=False)

In [228]:
jun19_may20_df.rename(columns={'sex':'gender_sex'}, inplace=True)

In [229]:
jun19_may20_df.to_csv('cleaned_citibike_data', index=False)